/**Global styles**/

@font-face {
    font-family:'Patua One', Georgia, 'Times New Roman', Times, serif;
    src: url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
}
@font-face {
    font-family:'Oxygen', sans-serif, Georgia, 'Times New Roman', Times, serif;
    src: url('https://fonts.googleapis.com/css2?family=Oxygen&family=Patua+One&display=swap');
}

h1 {
    font-family: 'Patua One', serif;
}

main
{
    color: blue;
}