/*<----------------------->*/
    /**Global styles**/
/*<----------------------->*/

@font-face {
    font-family:'Patua One', Georgia, 'Times New Roman', Times, serif;
    src: url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
}
@font-face {
    font-family:'Oxygen', sans-serif, Georgia, 'Times New Roman', Times, serif;
    src: url('https://fonts.googleapis.com/css2?family=Oxygen&family=Patua+One&display=swap'); 
}

h1, .navtxt, a {
    font-family: 'Patua One', serif;
    text-decoration: none;
    color: #F7F7F7;
    font-size: 40px;

}

h2 {
    font-family: 'Patua One', serif;
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.navtxt {
    padding: 30px;
}

p, .herobutton {
    font-family: 'Oxygen';
    text-decoration: none;
}

body
{
    background-color: #FFD686;
    margin: 0px;
}

/**Media queries**/
@media (min-width: 600px) {
    nav {
        display: inline;
    }
    .hamburger-nav{
        display: none;
    }
    
}

@media (max-width: 600px) { 
    .navtxt{
        display: block;
        font-size: 25px;
        padding: 15px;
    }
    nav {
        display: none;
    }
}

/**Navigation**/
#nav-box {
    display: none;
}

#nav-box:checked ~ nav {
    display: block;
}



.logo {
    max-width: 144px;
    min-width: 104px;
}


.menu{
    margin: 0;
    padding: 8px;
    height: 100%;

}

.menu li {
    display: inline;
}

header {
    background-color: #5FAB99;
}

/**Homepage **/
.herosection {
    background-image: url(../images/scientific-2040795_1280-min.jpg);
    min-height: 500px;
    background-size: cover;
    padding: 6rem 2rem; 
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

}

.herotitle {
    font-family: 'Patua One', serif;
    font-size: 40px;
    background-color: rgba(255, 201, 94, 0.9);
    color: #FF7A28;
    display: inline-block;
    padding: 22px;
    grid-template-columns: repeat(auto-fit);
  }

  .herop {
    font-family: 'Oxygen';
    background-color: rgba(255, 201, 94, 0.9);
    color: white;
    padding: 12px;
    display: inline-block;
    padding: .2rem;
  }

  .herobutton {
    background-color: #FF914D;
    text-align: center;
    display: inline-block;
    border-radius: .2rem;
    padding: .2rem;
    border: black;
  } 

  .cardsection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    text-align: center;
  }

 .newscard {
    display: grid;
    background-image: url(../images/girl-with-red-hat-BBZDOHhYU2s-unsplash.jpg);
    grid-template-rows: max-content 500px 1fr;
    height: fit-content;
    object-fit: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}

.eventscard {
    display: grid;
    background-image: url(../images/katherine-hanlon--WGk8tfkMAw-unsplash.jpg);
    grid-template-rows: max-content 500px 1fr;
    height: fit-content;
    object-fit: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}

.exhibitionscard {
    display: grid;
    background-image: url(../images/roberto-nickson-396152\ \(3\).jpg);
    grid-template-rows: max-content 500px 1fr;
    height: fit-content;
    object-fit: cover;
    width: 100%;
    height: 100%;
    text-align: center;
}
 
.newscard h1, .eventscard h1, .exhibitionscard h1 {
    background-color: rgba(255, 201, 94, 0.8);
    padding-left: 10px;
}