/*<----------------------->*/
    /**Global styles**/
/*<----------------------->*/

@font-face {
    font-family:'Patua One', Georgia, 'Times New Roman', Times, serif;
    src: url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
}
@font-face {
    font-family:'Oxygen', sans-serif, Georgia, 'Times New Roman', Times, serif;
    src: url('https://fonts.googleapis.com/css2?family=Oxygen&family=Patua+One&display=swap');
}

h1 {
    font-family: 'Patua One', serif;
}

body
{
    background-color: #FFD686;
}

/**Navigation**/
nav, #nav-box {
    display: none;
}

#nav-box:checked ~ nav {
    display: block;
}

@media (min-width: 600px) {
    nav {
        display: inline;
    }
    .hamburger-nav{
        display: none;
    }
}

@media (max-width: 600px) { 
    .hnavtxt{
        display: block;
    }

}

.menu{
    margin: 0;
    padding: 8px;
    height: 100%;
}

.menu li {
    display: inline;
}
